# This is a template .gitignore file for git-managed Prestashop projects. Inspired by micahwalter wordpress gitignore

#Ignore ds_store
*.DS_Store

# Ignore everything in the root except modules, themes and override.
.idea

logs/*
!logs/.gitkeep

htdocs/*
!htdocs/robots.txt
!htdocs/.htaccess.sample

!htdocs/config/
htdocs/config/*
!htdocs/config/defines.inc.php
!htdocs/config/config.inc.php
!htdocs/config/local.inc.empty.php
!htdocs/config/smartyadmin.config.inc.php
!htdocs/config/settings.empty.inc.php

!htdocs/classes/
htdocs/classes/*
!htdocs/classes/Subscription.php

!htdocs/modules/
htdocs/modules/ecodevscripts/de_cresus/*
htdocs/modules/ecocevscripts/pour_cresus/*
htdocs/modules/ecodevscripts/tests/*
htdocs/modules/prestablog/themes/*/up-img/*
htdocs/modules/prestablog/themes/default/up-img/*
htdocs/modules/homeslider/images/*
!htdocs/override/

!htdocs/manuel/
htdocs/manuel/sources/videos/*

!htdocs/themes/
htdocs/themes/*
!htdocs/themes/larevuedurable/
htdocs/themes/larevuedurable/cache/*.js
htdocs/themes/larevuedurable/cache/*.css

!htdocs/translations/
