# This is a template .gitignore file for git-managed Prestashop projects. Inspired by micahwalter wordpress gitignore

#Ignore ds_store
*.DS_Store

# Ignore everything in the root except modules, themes and override.
.idea
.bash_history

*.gz

logs/*
!logs/.gitkeep
!logs/emails
logs/emails/*
!logs/emails/.gitkeep

htdocs/*
!htdocs/robots.txt
!htdocs/.htaccess.sample

!htdocs/config/
htdocs/config/*
!htdocs/config/defines.inc.php
!htdocs/config/config.inc.php
!htdocs/config/local.inc.empty.php
!htdocs/config/smartyadmin.config.inc.php
!htdocs/config/settings.empty.inc.php

!htdocs/classes/
htdocs/classes/*
!htdocs/classes/Subscription.php

!htdocs/administrator/
htdocs/administrator/*
!htdocs/administrator/themes/
htdocs/administrator/themes/*
!htdocs/administrator/themes/default/
htdocs/administrator/themes/default/*
!htdocs/administrator/themes/default/template/
htdocs/administrator/themes/default/template/*
!htdocs/administrator/themes/default/template/helpers/
htdocs/administrator/themes/default/template/helpers/*
!htdocs/administrator/themes/default/template/helpers/list/
htdocs/administrator/themes/default/template/helpers/list/*
!htdocs/administrator/themes/default/template/helpers/list/list_header.tpl.bck
!htdocs/administrator/themes/default/template/helpers/list/list_header.tpl

!htdocs/modules/
htdocs/modules/prestablog/themes/*/up-img/*
htdocs/modules/prestablog/themes/default/up-img/*
htdocs/modules/homeslider/images/*
htdocs/modules/ecodevscripts/data/files/de_cresus/*
!htdocs/modules/ecodevscripts/data/files/de_cresus/.gitkeep
htdocs/modules/ecodevscripts/data/files/pour_cresus/*
!htdocs/modules/ecodevscripts/data/files/pour_cresus/.gitkeep
htdocs/modules/ecosubscriptions/data/files/import/from_cresus/*
!htdocs/modules/ecosubscriptions/data/files/import/from_cresus/.gitkeep
htdocs/modules/ecosubscriptions/data/files/import/to_cresus/*
!htdocs/modules/ecosubscriptions/data/files/import/to_cresus/.gitkeep
htdocs/modules/ecodevsubscription/cron_log.txt
htdocs/modules/ecosubscriptions/data/files/import/from_cresus/*
!htdocs/modules/ecosubscriptions/data/files/import/from_cresus/.gitkeep
htdocs/modules/ecosubscriptions/data/files/import/to_cresus/*
!htdocs/modules/ecosubscriptions/data/files/import/to_cresus/.gitkeep
htdocs/modules/ecosubscriptions/data/files/tva/*
!htdocs/modules/ecosubscriptions/data/files/tva/.gitkeep

!htdocs/override/

!htdocs/manuel/
htdocs/manuel/sources/videos/*

!htdocs/themes/
htdocs/themes/*
!htdocs/themes/larevuedurable/
htdocs/themes/larevuedurable/cache/*.js
htdocs/themes/larevuedurable/cache/*.css
htdocs/themes/larevuedurable/dev.css

!htdocs/translations/
