<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>path</key>
		<string>htdocs/sitemap.xml</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
               	<string>logs</string>
               	<key>permissions</key>
               	<string>0775</string>
               	<key>recursive</key>
               	<true/>
       	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/administrator/backups</string>
		<key>permissions</key>
		<string>0777</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/download</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/download_tmp</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/upload</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/translations</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
	   	<key>owner</key>
    		<string>larevuedurablecom-www</string>
		<key>path</key>
		<string>htdocs/themes/larevuedurable/cache</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/modules</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/themes/larevuedurable/modules</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/mails</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/img</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/themes/larevuedurable/lang</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
        <dict>
                <key>path</key>
                <string>htdocs/themes/larevuedurable/mails</string>
                <key>permissions</key>
                <string>0775</string>
                <key>recursive</key>
                <true/>
        </dict>
	<dict>
		<key>path</key>
		<string>htdocs/log</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/config</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
    <key>owner</key>
    <string>larevuedurablecom-www</string>
		<key>path</key>
		<string>htdocs/cache</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/upload</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>htdocs/modules/ecodevscripts/data/files</string>
		<key>permissions</key>
		<string>0775</string>
		<key>recursive</key>
		<true/>
	</dict>
</array>
</plist>
