/** Legend */

.legend .web, .legend .paper {
    border:1px solid #ccc;
}

.legend .underscored {
    border-width: 1px 1px 7px 1px !important;
    line-height: 7px !important;
    height: 7px !important;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}



.legend .element .reference.imported {
    background: url(import.png) center center no-repeat;
    width: 20px;
}

/* Number on headers */
.adminsubs .num.active {
    border-color: white;
}

.adminsubs .next {
    background: #067EB1;
    border-color: white;
    color: white;
}

.adminsubs .archive {
    background: #eeeeee;
    border-color: #999999;
    color: #777777;
}

.adminsubs .unpublished {
    border-color: #cccccc;
}

.adminsubs .nonexistent {
    border-color: red;
}

.adminsubs .invisible {
    border-color: orange;
}

/* subscriptions */
.adminsubs .web {
    border-color: rgb(255, 177, 59);
}

.adminsubs .paper {
    border-color: rgb(0, 130, 0);
}

.adminsubs .web.paper {
    border-color: rgb(0, 121, 202);
}

.adminsubs .active {
    background-color: rgb(92, 184, 92);
    color: #ffffff;
}

.adminsubs .sub.imported {
    background-image: url(import.png);
}

.adminsubs .sub.active.imported {
    background-image: url(import2.png);
}

.adminsubs .future {
    background-color: rgba(175, 234, 175, 0.80);
    color: #008f00;
}

.adminsubs .archive {
    background-color: #dddddd;
    color: #555555;
}

.adminsubs .tierce {
    background-color: rgba(44, 153, 222, 0.50);
    color: #004883;
}

.adminsubs .tierce * {
    color: #004883;
}