@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}

@keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.legend {
    margin:10px 5px;
    font-size: 13px;
    color:#555
}

.legend .element{
    display:inline-block;
    vertical-align: top;
    margin-right:10px;
    height: 15px;
    line-height: 15px;
    padding:5px;
    border:1px solid #ccc;
    border-radius:4px;
}

.legend .elementNotStyled {
    display:inline-block;
    vertical-align: top;
    padding:5px 0;
}

.legend .element.header{
    font-weight:bold;
    color:#333;
    border:none;
    width:120px;

}

.legend .element .reference{
    border-radius: 3px;
    float:left;
    height: 15px;
    width: 15px;
    margin-right: 5px;
    font-size: 11px;
}


/* row */
.adminsubs .row {
    position:relative;
    padding: 15px 0;
    border-bottom:1px solid #ccc;
    clear:both;
}

.adminsubs .followup{
    background: #fff2de;
}

.adminsubs .followup.excluded{
    background: #e9e9e9;
}

/* years / nums */
.adminsubs .row.years{
    height:40px;
}

.adminsubs .row.years .leftheader{
    text-indent:10px;
}

.adminsubs .num {
    position:relative;
    float:left;
    width:39px;
    height:40px;
    line-height: 30px;
    padding:0 5px;
    color:#333;
    font-weight:bold;
    font-size:22px;
    background:rgba(0,0,0,0.1);
    margin-left: 1px;
}

.adminsubs .years.mini .num {
    border-bottom: none !important
}

.adminsubs .row.years.mini .leftheader{
    height:1px;
    text-indent:-99999em;
}


.adminsubs .num .infobox{
    display:none;
    position:absolute;
    z-index:999;
    bottom:50px;
    left:0;
    width:400px;
    padding:0 10px;
    font-weight:normal;
    font-size:12px;
    border-radius:2px;
    box-shadow:2px 1px 2px rgba(0,0,0,0.5);
    background:inherit;
}

.adminsubs .unpublished,
.adminsubs .nonexistent,
.adminsubs .invisible {
    height: 30px;
    border-bottom: 10px solid;
}


/* mini */
.adminsubs .row.years {
    background:#eee;
    padding:0;
}
.adminsubs .row.years.mini {
    height:3px;
}
.adminsubs .row.years.mini .num {
    height:3px;
    text-indent: -9999px;
}

.adminsubs .row.years:not(.mini) .num:hover .infobox{
    display:block;
}

.adminsubs .chronologyAlert {
    text-decoration: blink;

    -webkit-animation-name:blinker;
    animation-name:blinker;
    -webkit-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
    animation-timing-function:cubic-bezier(1.0,0,0,1.0);
    -webkit-animation-duration:1s;
    animation-duration:1s;
}

.adminsubs .row.years.mini .chronologyAlert {
    -webkit-animation-name: none;
    animation-name: none;
}


/* Customers zone */
.adminsubs .leftheader {
    float:left;
    width:400px;
    line-height:40px;
    margin-right:10px;
    font-weight:bold;
    font-size:14px;
    color:#555
}

.adminsubs .subscriptionsContainer {
    float:left;
    position:relative;
    width:0px;
}

.adminsubs .subscriptions {
    position:relative;
    height:40px;

}

.adminsubs .subscriptions.tierces {
    margin-top:5px;
    padding-top:5px;
    border-top:1px dotted #ccc;
}


/* single subs */
.adminsubs .sub {
    position:absolute;
    top:5px;
    overflow-x:scroll;
    overflow-y:hidden;
    padding:0 5px;
    height: 30px;
    line-height: 35px;
    border-radius:4px;
    font-size:11px;
}

.web, .paper {
    border-bottom: 10px solid;
}

.adminsubs .subscriptionsContainer .subscriptions:first-child .sub {
    top:0px;
}

.adminsubs .sub.imported {
    padding-right:30px;
    background-position: 98% center;
    background-repeat:no-repeat;
}
